html, body
{
  height: 90%;
  margin: 10;
}

body {
	background-image: linear-gradient(#37fa82, #faac37, #9837fa);
}
.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(30, 138, 226, 0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}